/* .box{
    font-weight: 800px;
    font-style: italic;
    text-transform:capitalize ;
    line-height: 2em;
    background-color: rgb(95, 95, 196);
    /* letter-spacing: 1em;
    /* word-spacing: 2em; */
    /* text-align: center;


    
}
.p{
    text-align: justify;
}
.text-1{
    vertical-align:text-top;
    line-height: 1em;
    background-color: yellow;
} */ 
 .container{
    max-width: 50%;
    /* height: 20px; */
    background-color: yellow;
    padding:80px;
    padding-right:20px ;
    /* text-shadow: 2px 2px 7px black; left se right: top se bottom third bulr; */
    box-shadow: 10px 10px 10px;
    box-shadow: 58px 81px 161px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 58px 81px 161px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 58px 81px 161px 0px rgba(0,0,0,0.75);

 }
